@font-face {
    font-family: "deathStarFont";
    src:url("../font/deathstar.otf");
}

@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

.name, .hp {
    text-align: center;
    font-size: .7rem;
}

h2 {
    font-size: 1rem;
}

p {
    margin: 0;
}

.wrapper {
    display: flex;  
    flex-flow: row wrap;
    text-align: center;
  }
  
  .wrapper > * {
    padding: 10px;
    flex: 1 100%;
  }
  
  .main {
    text-align: left;
    color: black;
  }
  
  .fight {
    height: 100%;
    background: url(../image/bg.jpg);
    border: black;
  }

  .top {
      height: 75.63px;
  }

  .char, #comment {
      display: inline-block;
  }

  #comment {
      overflow: auto;
  }

  
  #gameH {
      font-family: "deathStarFont";
  }
  
  .resetBtn, .atkBtn {
    font-family: "deathStarFont";
    background: black;
    color: white;
    border:none;
}

.resetBtn:focus,  .atkBtn:focus {
    display: none;
}

  #gameTitle {
      background: url(../image/warpSpeed.webp) no-repeat center center;
      background-size: ;
      color: #ffffff;
  }

  @media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
  }
  
  @media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
  }
  
  body {
    padding: 2em; 
    font-family: 'Share Tech Mono', monospace;
  }